kronos-outreach-workflow.json
{
  "name": "KRONOS Outreach Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kronos-outreach",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "kronos-outreach-webhook"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "options": {
          "continue": true
        }
      },
      "id": "google-sheets-input",
      "name": "Google Sheets - Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [250, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-contacts",
      "name": "Merge Contact Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.EMAIL || $json.CONTACT }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json['FULL NAME'] || $json['company name'] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "validate-contacts",
      "name": "Validate Contact Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "// KRONOS Advanced Personalization Engine\n// Uses rich Airtable data for hyper-personalized outreach\n\nfor (const item of $input.all()) {\n  // Extract all available fields from Airtable\n  const fullName = item.json['FULL NAME'] || 'there';\n  const firstName = fullName.split(' ')[0] || 'there';\n  const email = item.json.EMAIL || item.json.CONTACT;\n  const company = item.json['company name'] || 'your company';\n  const jobTitle = item.json['JOB TITLE'] || 'your role';\n  const companyDesc = item.json['COMPANY DESCRIPTION'] || '';\n  const companySize = item.json['COMPANY SIZE'] || '';\n  const headline = item.json.HEADLINE || '';\n  const seniority = item.json.SENIORITY || '';\n  const category = item.json.Category || '';\n  const sector = item.json.SECTOR || '';\n  const revenue = item.json.REVENUE || '';\n  const technology = item.json.TECHNOLOGY || '';\n  const city = item.json.City || '';\n  const state = item.json.State || '';\n  const keywords = item.json.KEYWORDS || '';\n  const linkedIn = item.json.LINKEDIN || '';\n  const url = item.json.URL || '';\n  \n  // Smart subject line generation based on available data\n  const subjectTemplates = [];\n  \n  if (technology) {\n    subjectTemplates.push(`${firstName}, re: ${company}'s ${technology.split(',')[0].trim()} stack`);\n  }\n  \n  if (sector) {\n    subjectTemplates.push(`Helping ${sector} companies like ${company}`);\n  }\n  \n  if (companySize) {\n    subjectTemplates.push(`${firstName} - scaling ${category || 'your business'}`);\n  }\n  \n  if (headline) {\n    const headlineKeyword = headline.split(' ').slice(0, 3).join(' ');\n    subjectTemplates.push(`Re: ${headlineKeyword}`);\n  }\n  \n  // Fallback subject lines\n  subjectTemplates.push(\n    `Quick question about ${company}`,\n    `${firstName}, thoughts on ${category || 'your business'}?`,\n    `Partnership opportunity for ${company}`\n  );\n  \n  const randomSubject = subjectTemplates[Math.floor(Math.random() * subjectTemplates.length)];\n  \n  // Intelligent email body personalization\n  let emailBody = `Hi ${firstName},\\n\\n`;\n  \n  // Opening line based on available data\n  if (headline && linkedIn) {\n    emailBody += `I came across your profile on LinkedIn - \"${headline}\" - and was impressed by your work at ${company}.\\n\\n`;\n  } else if (jobTitle && seniority) {\n    emailBody += `I noticed you're a ${seniority} ${jobTitle} at ${company} and wanted to reach out directly.\\n\\n`;\n  } else {\n    emailBody += `I've been researching ${sector || category || 'companies'} in ${city || 'your area'} and ${company} stood out.\\n\\n`;\n  }\n  \n  // Value proposition based on company data\n  if (companyDesc) {\n    const descSnippet = companyDesc.length > 100 ? companyDesc.substring(0, 100) + '...' : companyDesc;\n    emailBody += `I saw that ${company} is ${descSnippet.toLowerCase()}\\n\\n`;\n  }\n  \n  if (technology) {\n    const techStack = technology.split(',').slice(0, 2).join(' and ');\n    emailBody += `I noticed you're using ${techStack}. We've helped similar companies optimize their tech stack and [YOUR SPECIFIC VALUE PROP].\\n\\n`;\n  } else if (revenue && companySize) {\n    emailBody += `As a ${revenue} company with ${companySize} employees, I thought you might be interested in [YOUR VALUE PROP].\\n\\n`;\n  } else {\n    emailBody += `We specialize in helping ${category || sector || 'companies like yours'} with [YOUR SPECIFIC VALUE PROPOSITION].\\n\\n`;\n  }\n  \n  // Call to action based on seniority\n  if (seniority === 'C-Level') {\n    emailBody += `Would you be open to a brief 15-minute call to discuss how we could help ${company} achieve [SPECIFIC OUTCOME]?\\n\\n`;\n  } else if (seniority === 'VP' || seniority === 'Director') {\n    emailBody += `I'd love to share some insights on how companies in ${sector || category || 'your industry'} are solving [SPECIFIC PROBLEM]. Would you have 10 minutes for a quick call?\\n\\n`;\n  } else {\n    emailBody += `Would you be the right person to discuss this, or should I connect with someone else on your team?\\n\\n`;\n  }\n  \n  // Signature\n  emailBody += `Best regards,\\n[YOUR NAME]\\n[YOUR TITLE]\\n[YOUR COMPANY]\\n[YOUR CONTACT INFO]`;\n  \n  // Add enriched fields to item\n  item.json.personalizedSubject = randomSubject;\n  item.json.personalizedBody = emailBody;\n  item.json.email = email;\n  item.json.fullName = fullName;\n  item.json.firstName = firstName;\n  item.json.outreachDate = new Date().toISOString();\n  item.json.campaignId = 'KRONOS-001';\n  item.json.status = 'sent';\n  \n  // Store original Airtable fields for logging\n  item.json.company = company;\n  item.json.jobTitle = jobTitle;\n  item.json.sector = sector;\n  item.json.technology = technology;\n  item.json.revenue = revenue;\n  item.json.linkedInUrl = linkedIn;\n}\n\nreturn $input.all();"
      },
      "id": "personalization-engine",
      "name": "Personalization Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "nodeCredentialType": "smtpApi",
        "fromEmail": "={{ $json.fromEmail || 'your-email@domain.com' }}",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.personalizedSubject }}",
        "emailType": "text",
        "message": "={{ $json.personalizedBody }}",
        "options": {
          "allowUnauthorizedCerts": false,
          "replyTo": "={{ $json.fromEmail || 'your-email@domain.com' }}"
        }
      },
      "id": "send-email",
      "name": "Send Outreach Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1200, 400],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "rate-limiter",
      "name": "Rate Limiter",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach Log",
          "mode": "list",
          "cachedResultName": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "fullName": "={{ $json.fullName }}",
            "company": "={{ $json.company }}",
            "jobTitle": "={{ $json.jobTitle }}",
            "sector": "={{ $json.sector }}",
            "technology": "={{ $json.technology }}",
            "revenue": "={{ $json.revenue }}",
            "status": "={{ $json.status }}",
            "sentDate": "={{ $json.outreachDate }}",
            "campaignId": "={{ $json.campaignId }}",
            "subject": "={{ $json.personalizedSubject }}",
            "linkedInUrl": "={{ $json.linkedInUrl }}"
          }
        },
        "options": {}
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Trigger (9 AM Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 700]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach Log",
          "mode": "list",
          "cachedResultName": ""
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "sent"
            }
          ]
        },
        "options": {}
      },
      "id": "check-followups",
      "name": "Check for Follow-ups",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [500, 700],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// KRONOS Follow-up Logic with Intelligence\nconst now = new Date();\nconst followupItems = [];\n\nfor (const item of $input.all()) {\n  const sentDate = new Date(item.json.sentDate);\n  const daysSinceSent = Math.floor((now - sentDate) / (1000 * 60 * 60 * 24));\n  \n  // Extract contact info\n  const firstName = item.json.fullName ? item.json.fullName.split(' ')[0] : 'there';\n  const company = item.json.company || 'your company';\n  const sector = item.json.sector || 'your industry';\n  const technology = item.json.technology || '';\n  \n  // Send follow-up after 3 days if no response\n  if (daysSinceSent >= 3 && daysSinceSent <= 4 && item.json.status === 'sent') {\n    item.json.followupSubject = `Re: ${item.json.subject}`;\n    \n    // Intelligent follow-up body based on original data\n    let followupBody = `Hi ${firstName},\\n\\n`;\n    followupBody += `Following up on my email from earlier this week about ${company}.\\n\\n`;\n    \n    if (technology) {\n      const tech = technology.split(',')[0].trim();\n      followupBody += `I wanted to share a quick insight: We recently helped a similar company optimize their ${tech} implementation and saw [SPECIFIC RESULT].\\n\\n`;\n    } else if (sector) {\n      followupBody += `Given the challenges in the ${sector} space right now, I thought this might be particularly relevant for ${company}.\\n\\n`;\n    } else {\n      followupBody += `I have some specific ideas on how we could help ${company} achieve [SPECIFIC OUTCOME].\\n\\n`;\n    }\n    \n    followupBody += `Would you have 10 minutes for a quick call this week?\\n\\n`;\n    followupBody += `Best regards,\\n[YOUR NAME]`;\n    \n    item.json.followupBody = followupBody;\n    item.json.firstName = firstName;\n    item.json.isFollowup = true;\n    followupItems.push(item);\n  }\n}\n\nreturn followupItems;"
      },
      "id": "followup-logic",
      "name": "Follow-up Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 700]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "nodeCredentialType": "smtpApi",
        "fromEmail": "={{ $json.fromEmail || 'your-email@domain.com' }}",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.followupSubject }}",
        "emailType": "text",
        "message": "={{ $json.followupBody }}",
        "options": {}
      },
      "id": "send-followup",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1000, 700],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach Log",
          "mode": "list",
          "cachedResultName": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "status": "followup_sent",
            "lastFollowupDate": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "update-followup-status",
      "name": "Update Follow-up Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 700],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Contact Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Contacts": {
      "main": [
        [
          {
            "node": "Merge Contact Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Contact Sources": {
      "main": [
        [
          {
            "node": "Validate Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Contact Data": {
      "main": [
        [
          {
            "node": "Personalization Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalization Engine": {
      "main": [
        [
          {
            "node": "Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter": {
      "main": [
        [
          {
            "node": "Send Outreach Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outreach Email": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger (9 AM Weekdays)": {
      "main": [
        [
          {
            "node": "Check for Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Follow-ups": {
      "main": [
        [
          {
            "node": "Follow-up Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up Logic": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email": {
      "main": [
        [
          {
            "node": "Update Follow-up Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-20T00:00:00.000Z",
  "versionId": "1"
}
