workflows/apify_swiss_scraper.json
{
  "name": "KRONOS Apify Swiss Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Runs every 6 hours to scrape Swiss real estate portals"
    },
    {
      "parameters": {
        "resource": "actor",
        "actorId": "={{ $json.immoscout_actor_id || 'ecomscrape/immoscout24-property-search-scraper' }}",
        "operation": "run",
        "runInput": "={{ JSON.stringify({ location: 'switzerland', maxItems: 500, proxy: { useApifyProxy: true } }) }}",
        "additionalFields": {
          "waitForFinish": 300,
          "memory": 1024
        }
      },
      "id": "apify-immoscout",
      "name": "Apify ImmoScout24",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [400, 200],
      "credentials": {
        "apifyApi": {
          "id": "YOUR_APIFY_CREDENTIAL_ID",
          "name": "Apify API"
        }
      },
      "notes": "Scrapes ImmoScout24.ch for real estate agencies"
    },
    {
      "parameters": {
        "resource": "actor",
        "actorId": "={{ $json.flatfox_actor_id || 'apify/flatfox-scraper' }}",
        "operation": "run",
        "runInput": "={{ JSON.stringify({ startUrls: [{ url: 'https://flatfox.ch/en/search/?east=10.5&north=47.9&south=45.8&west=5.9' }], maxItems: 300 }) }}",
        "additionalFields": {
          "waitForFinish": 300,
          "memory": 1024
        }
      },
      "id": "apify-flatfox",
      "name": "Apify FlatFox",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [400, 400],
      "credentials": {
        "apifyApi": {
          "id": "YOUR_APIFY_CREDENTIAL_ID",
          "name": "Apify API"
        }
      },
      "notes": "Scrapes FlatFox.ch for real estate agencies"
    },
    {
      "parameters": {
        "jsCode": "// Merge and dedupe results from both scrapers\nconst immoscoutResults = $input.first().json.items || [];\nconst flatfoxResults = $input.last().json.items || [];\n\n// Extract agency info from listings\nfunction extractAgency(listing, source) {\n  return {\n    agency_name: listing.agencyName || listing.advertiser?.name || listing.contact?.name || 'Unknown',\n    email: listing.agencyEmail || listing.advertiser?.email || listing.contact?.email || null,\n    phone: listing.agencyPhone || listing.advertiser?.phone || listing.contact?.phone || null,\n    website: listing.agencyUrl || listing.advertiser?.website || null,\n    address: listing.agencyAddress || listing.advertiser?.address || null,\n    city: listing.city || listing.location?.city || null,\n    url: listing.url || listing.agencyUrl || null,\n    listing_count: 1,\n    source: source,\n    scraped_at: new Date().toISOString()\n  };\n}\n\n// Extract agencies from ImmoScout24\nconst immoscoutAgencies = immoscoutResults.map(l => extractAgency(l, 'immoscout24'));\n\n// Extract agencies from FlatFox\nconst flatfoxAgencies = flatfoxResults.map(l => extractAgency(l, 'flatfox'));\n\n// Combine all agencies\nconst allAgencies = [...immoscoutAgencies, ...flatfoxAgencies];\n\n// Dedupe by agency name (case-insensitive)\nconst seenNames = new Set();\nconst uniqueAgencies = allAgencies.filter(a => {\n  if (!a.agency_name || a.agency_name === 'Unknown') return false;\n  const key = a.agency_name.toLowerCase().trim();\n  if (seenNames.has(key)) return false;\n  seenNames.add(key);\n  return true;\n});\n\n// Filter out agencies without contact info\nconst contactableAgencies = uniqueAgencies.filter(a => a.email || a.phone);\n\nreturn contactableAgencies.map(agency => ({ json: agency }));"
      },
      "id": "merge-dedupe",
      "name": "Merge & Dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "notes": "Combines results, extracts agency info, removes duplicates"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "batch-leads",
      "name": "Batch Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID || 'appLriEwWldpPTMPg' }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_TABLE_ID || 'tblLZkFo7Th7uyfWB' }}",
          "mode": "id"
        },
        "filterByFormula": "=OR({URL} = '{{ $json.url }}', LOWER({company name}) = '{{ $json.agency_name.toLowerCase() }}')"
      },
      "id": "airtable-search",
      "name": "Check Existing",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1000, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "AtP2rrGrxZ5FHBNZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-exists",
      "name": "Not Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID || 'appLriEwWldpPTMPg' }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_TABLE_ID || 'tblLZkFo7Th7uyfWB' }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company name": "={{ $('Merge & Dedupe').item.json.agency_name }}",
            "EMAIL": "={{ $('Merge & Dedupe').item.json.email }}",
            "Phone": "={{ $('Merge & Dedupe').item.json.phone }}",
            "URL": "={{ $('Merge & Dedupe').item.json.url }}",
            "City": "={{ $('Merge & Dedupe').item.json.city }}",
            "EMAIL STATUS": "",
            "sms status": "",
            "lead_source": "={{ $('Merge & Dedupe').item.json.source }}",
            "scraped_at": "={{ $('Merge & Dedupe').item.json.scraped_at }}"
          }
        }
      },
      "id": "airtable-create",
      "name": "Create Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1400, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "AtP2rrGrxZ5FHBNZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Skip (Exists)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1400, 400],
      "notes": "Lead already exists, skip"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Apify ImmoScout24",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify FlatFox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify ImmoScout24": {
      "main": [
        [
          {
            "node": "Merge & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify FlatFox": {
      "main": [
        [
          {
            "node": "Merge & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Dedupe": {
      "main": [
        [
          {
            "node": "Batch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Leads": {
      "main": [
        [
          {
            "node": "Check Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing": {
      "main": [
        [
          {
            "node": "Not Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Exists?": {
      "main": [
        [
          {
            "node": "Create Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (Exists)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
