workflows/universal_scorer.json
{
  "name": "KRONOS Universal Scorer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Runs every hour to score new leads"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CONFIG_URL || 'https://raw.githubusercontent.com/YOUR_REPO/main/config/industries/' + ($env.INDUSTRY_ID || 'swiss_realestate') + '.json' }}",
        "options": {}
      },
      "id": "load-config",
      "name": "Load Industry Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "notes": "Load scoring criteria from industry config"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID || 'appLriEwWldpPTMPg' }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_TABLE_ID || 'tblLZkFo7Th7uyfWB' }}",
          "mode": "id"
        },
        "filterByFormula": "=AND(OR({EMAIL STATUS} = BLANK(), {EMAIL STATUS} = ''), OR({sms status} = BLANK(), {sms status} = ''), {Rank} = BLANK())",
        "returnAll": false,
        "limit": "={{ ($json.scoring && $json.scoring.batch_size) || 20 }}"
      },
      "id": "get-unscored",
      "name": "Get Unscored Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [600, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "AtP2rrGrxZ5FHBNZ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "notes": "Get leads without scores (batch size from config)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-leads",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build scoring prompt dynamically from config\nconst config = $('Load Industry Config').first().json;\nconst leads = $input.all();\n\n// Build criteria text from config\nconst criteriaText = config.scoring.criteria\n  .map(c => `- ${c.name.replace(/_/g, ' ')} (+${c.weight}): ${c.description}`)\n  .join('\\n');\n\n// Format leads for prompt\nconst leadsForPrompt = leads.map((item, idx) => ({\n  index: idx,\n  id: item.json.id,\n  name: item.json.fields['company name'] || item.json.fields['FULL NAME'] || 'Unknown',\n  email: item.json.fields['EMAIL'] || null,\n  phone: item.json.fields['Phone'] || null,\n  city: item.json.fields['City'] || null,\n  description: item.json.fields['COMPANY DESCRIPTION'] || null,\n  size: item.json.fields['COMPANY SIZE'] || null,\n  keywords: item.json.fields['KEYWORDS'] || null\n}));\n\n// Build the prompt\nconst prompt = `Score these ${leadsForPrompt.length} ${config.display_name} from 1-10 for outreach priority.\n\nScoring criteria:\n${criteriaText}\n\nLeads to score:\n${leadsForPrompt.map(l => `[${l.index}] ${l.name} | ${l.city || 'Unknown city'} | ${l.email ? 'Has email' : 'No email'} | ${l.phone ? 'Has phone' : 'No phone'}`).join('\\n')}\n\nReturn ONLY a valid JSON array with this exact format:\n[{\"index\": 0, \"score\": 7, \"reason\": \"brief reason\"}, ...]\n\nNo other text, just the JSON array.`;\n\nreturn {\n  json: {\n    leads: leadsForPrompt,\n    prompt: prompt,\n    config: config,\n    model: config.scoring?.model || 'openai/gpt-4o-mini',\n    system_prompt: config.scoring?.system_prompt || 'You are a lead scoring assistant. Score businesses 1-10 based on their potential value. Return ONLY valid JSON.'\n  }\n};"
      },
      "id": "format-prompt",
      "name": "Format Batch Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "notes": "Builds scoring prompt from industry config criteria"
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": {{ JSON.stringify($json.model) }},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_prompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 2000\n}",
        "options": {}
      },
      "id": "openrouter-score",
      "name": "OpenRouter Batch Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter API"
        }
      },
      "notes": "Single API call to score entire batch"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response and map scores to leads\nconst response = $input.first().json;\nconst prevData = $('Format Batch Prompt').first().json;\nconst leads = prevData.leads;\nconst config = prevData.config;\n\n// Get thresholds from config\nconst thresholds = config.scoring?.thresholds || { priority: 7, medium: 5, low: 0 };\n\nlet scores = [];\ntry {\n  // Extract JSON from response\n  const content = response.choices[0].message.content;\n  \n  // Try direct parse first\n  try {\n    scores = JSON.parse(content);\n  } catch (e) {\n    // Extract JSON array from text\n    const match = content.match(/\\[.*\\]/s);\n    if (match) {\n      scores = JSON.parse(match[0]);\n    }\n  }\n} catch (e) {\n  console.error('Failed to parse scores:', e.message);\n  return [];\n}\n\n// Map scores back to lead IDs with status based on thresholds\nconst results = scores.map(s => {\n  const lead = leads.find(l => l.index === s.index);\n  \n  let status;\n  if (s.score >= thresholds.priority) {\n    status = 'READY';\n  } else if (s.score >= thresholds.medium) {\n    status = 'MEDIUM';\n  } else {\n    status = 'LOW_PRIORITY';\n  }\n  \n  return {\n    json: {\n      id: lead?.id,\n      score: s.score,\n      reason: s.reason,\n      status: status,\n      industry: config.industry_id\n    }\n  };\n});\n\nconsole.log(`Scored ${results.length} leads: ${results.filter(r => r.json.status === 'READY').length} READY, ${results.filter(r => r.json.status === 'MEDIUM').length} MEDIUM, ${results.filter(r => r.json.status === 'LOW_PRIORITY').length} LOW_PRIORITY`);\n\nreturn results;"
      },
      "id": "parse-scores",
      "name": "Parse Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 200],
      "notes": "Extracts scores and applies config thresholds"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID || 'appLriEwWldpPTMPg' }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_TABLE_ID || 'tblLZkFo7Th7uyfWB' }}",
          "mode": "id"
        },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rank": "={{ $json.score }}",
            "score_reason": "={{ $json.reason }}",
            "lead_status": "={{ $json.status }}",
            "scored_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "update-scores",
      "name": "Update Lead Scores",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1600, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "AtP2rrGrxZ5FHBNZ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "notes": "Updates each lead with score and status"
    },
    {
      "parameters": {},
      "id": "no-leads",
      "name": "No Unscored Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 400],
      "notes": "All leads already scored"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Industry Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Industry Config": {
      "main": [
        [
          {
            "node": "Get Unscored Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unscored Leads": {
      "main": [
        [
          {
            "node": "Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Leads?": {
      "main": [
        [
          {
            "node": "Format Batch Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Unscored Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Batch Prompt": {
      "main": [
        [
          {
            "node": "OpenRouter Batch Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Batch Score": {
      "main": [
        [
          {
            "node": "Parse Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scores": {
      "main": [
        [
          {
            "node": "Update Lead Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
